@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,400&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(117, 253, 174);
}

nav{
    font-family: 'Ubuntu', sans-serif;

}
nav ul{
    align-items: center;
    display: flex;
    list-style-type: none;
    height: 70px;
    background-color: black;
    color: aliceblue;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 86px;
    padding: 0 4px;
}
.brand{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.Bottam{
    position: sticky;
    height: 100px;
    background-color: black;
    color: aliceblue;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.icons{
    margin-top: 15px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80%;
    cursor: pointer;
}
.container{
    height: 68vh;
    color: aliceblue;
    background-color: black;
    font-family: 'varela round',sans-serif;
    display: flex;
    margin: 20px auto;
    width: 70%;
    border-radius: 12px;
    padding: 10px;
    background-image: url(pics/UK9IOKH1G0.jpg);
}
.songItem{

    height: 40px;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;

}
.songItem img{
    width: 40px;
    margin: 0 20px;
    border-radius:20px ;

}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}


    
.songItemcontainer{
    margin-top: 30px;
    padding-top: 20px;

}

.play{
    position: absolute;
    left: 10vw;
    font-family: 'varela round',sans-serif;
}
.play img{
    opacity: 1;
    transition: opacity 0.1s ease-in;
}